<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.versionok">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoappr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sendmsg"></activity>
        <activity android:name=".Mabiblio" />
        <activity android:name=".Creation" />
        <activity android:name=".Login.Signup" />
        <activity android:name=".Login.Signin" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".Walkthrough" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>